/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
*, *:before, *:after {
	box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	color: #000;
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
	background-color: #f0efef;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
	max-width: 90%;
  margin: 0 auto;
  width: 1024px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

header {
	background-color: #033048;
	color: #fff;
	width: 100%;
	padding: 20px 0;
}


nav {
	float: right;
	
}

.nav-links {
	text-decoration: none;
	color: #f9e42e;
	font-weight: 600;
}



nav li {
	display: inline-block;
	color: #fff;
	padding: 5px; 
	margin-top: 15px;
	list-style-type: none;
	font-weight: 600;

}


.intro {
	background: url("../images/header_bg.jpg") no-repeat center top rgb(134,141,157);
	background-size: cover;
	padding: 160px 0;
	text-align: center;
}


h1 {
	font-size: 40px;
	color: #fff;
	font-weight: 900;
	text-align: left;
	display: inline;
}

h1 a {
	color: #ffffff;
}

.intro h2 {
	font-size: 30px;
	color: #fff;
	font-weight: 500;
	text-align: center;
	padding: 50px 0;
}

h2 {
	font-size: 30px;
	color: #033048;
	font-weight: 500;
	text-align: left;
	padding: 30px 0;
}

.button-one {
	background-color: #f9e42e;
	padding: 8px 40px;
	color: #121212;
	border-radius: 5px;
	border: none;
	font-weight: 700;
}


.article {
	display: inline-block;
	width: 70%;
	padding: 20px 20px 40px;
	margin-bottom: 50px;
}

.article span {
	border-bottom: 1px solid #033048;
	padding: 30px 0;
	width: 100%;
	float: right;
	text-align: right;
	margin-bottom: 20px;
	font-weight: bold;
}

.article p {
	padding: 0;
}

.article a {
	color: #033048;
}

h3 {
	font-size: 27px;
	color: #121212;
	font-weight: 500;
	text-align: left;
}

.side-coloumn {
	float: right;
	display: inline-block;
	width: 30%;
	clear: right;
	padding: 55px 50px 0 10px;
	font-size: 16px;

}

.side-coloumn h3 {
	font-size: 18px;
	font-weight: bold;
}

.side-coloumn ul {
	list-style: none;
	padding-left: 0;
	color: #033048;
	margin: 10px 0 40px;

}

.side-coloumn p {
	margin: 10px 0 40px;
	padding: 0;
	font-size: 16px;
}

.side-coloumn a {
	display: block;
	font-weight: bold;
	color: #033048;
}

h4 {
	color: #fff;
	font-weight: 100;
	font-style: italic;
	font-size: 27px;
	text-align: center;
	width: 50%;
	margin: 0 auto;
}


h5 {
	font-size: 40px;
	color: #f9e42e;
	font-weight: 900;
	text-align: center;
	padding: 30px 0;
}


p {
	font-size: 18px;
	color: #606161;
	font-weight: light;
	padding: 30px 0;
	line-height: 1.4;
}


.article p:first-letter {
    font-size: 50px;
    font-weight: 500;
    float: left;
    padding: 0 10px 5px 0;
    margin-top: 6px;
    line-height: 38px;

}

img {
	padding-bottom: 20px;
}

ul {
	list-style-type: disc;
    padding: 0 50px;
    list-style-position: inside;
    color: #606161;
}

.quote-credit {
	display: block;
	font-weight: 700;
	text-align: center;
	color: #fff;
	font-size: 27px;
}

.benefits {
	width: 100%;
	padding: 100px;
}

#quote {
	background: url("../images/testimonial_bg.jpg") no-repeat center top rgb(134,141,157);
	background-size: cover;
	padding: 100px 50px;
	text-align: center;
}

.sign-up {
	background-color: #f9e42e;
	width: 100%;
	text-align: center;
	padding: 30px 0;
	margin: 0 auto;
}


.button-two {
	background-color: #033048;
	padding: 8px 40px;
	color: #fff;
	border-radius: 5px;
	border: none;
	font-weight: 700;
	margin: 0 auto;
}

.social {
	background-color: #121212;
	width: 100%;
	height: 300px;
	text-align: center;
}

.twitter {
	display: inline-block;
	padding: 10px 20px;
}

.facebook {
	display: inline-block;
	padding: 10px 20px;
}


h6 {
	font-size: 10px;
	color: #fff;
	font-weight: lighter;
	text-align: center;
	padding: 30px 0;
}

a:link {
    text-decoration: none;
}

a.nav-links:hover  {
    color: #ffffff;
}

a.button-one:hover  {
    color: #ffffff;
    background-color: #033048;
}


a.button-two:hover  {
    color: #033048;
    background-color: #ffffff;
}

.article a:hover  {
    text-decoration: underline;
}

.side-coloumn a:hover  {
    text-decoration: underline;
}

